@font-face {
font-family: "Monoid";
src: url("../fonts/Monoid-Bold") format("ttf");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Monoid";
src: url("/fonts/Monoid-Italic") format("ttf");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Monoid";
src: url("/fonts/Monoid-Regular") format("ttf");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Monoid";
src: url("/fonts/Monoid-Retina") format("ttf");
font-style: normal;
font-weight: normal;
}
